/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Viga", sans-serif;
  background-color: #f7f7f7; /* Update the background color */
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.left-side img {
  max-width: 50px;
}

.right-side {
  display: flex;
  align-items: center;
}

.nav-link-wrapper {
  margin-right: 20px;
}

.nav-link-wrapper a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link-wrapper a:hover {
  color: #00cc00;
}

/* Intro styles */
#containerIntro {
  padding: 50px;
  text-align: center;
}

.start {
  font-size: 40px;
}

.green {
  color: #00cc00;
}

.brown {
  color: #a52a2a;
}

/* Content styles */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.avatar {
  margin-right: 20px;
}

.avatar img {
  max-width: 100%;
}

.text {
  text-align: left;
}

.text h2 {
  font-size: 24px;
  margin-top: 20px;
}

.text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.text a {
  color: #00cc00;
  text-decoration: none;
  font-weight: bold;
}

.text a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Span colors */
.green {
  color: #00cc00;
}

.brown {
  color: #a52a2a;
}
