/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.left-side img {
  max-width: 50px;
}

.right-side {
  display: flex;
  align-items: center;
}

.nav-link-wrapper {
  margin-right: 20px;
}

.nav-link-wrapper a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link-wrapper a:hover {
  color: #00cc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Viga", serif;
}

body {
  background-color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  padding: 0.5em 0;
}

.card {
  box-shadow: 0 0 2.3em #302a29;
  padding: 3.5em 1em;
  border-radius: 0.9em;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
  background-color: #f1f1f1;
}

.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #dbb88d;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card h3 {
  font-weight: 500;
}

.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.card:hover {
  background: #113e21;
  color: #ffffff;
}

.card:hover .img-container {
  transform: scale(1.5);
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Span colors */
.green {
  color: #00cc00;
}

.brown {
  color: #a52a2a;
}

@media only screen and (max-width: 404px) {
  header .left-side a img {
    width: 50px;
  }

  header .right-side .nav-link-wrapper a {
    font-size: 16px;
  }

  .card {
    padding: 2em 1em;
  }
}

@media only screen and (max-width: 650px) {
  header .left-side a img {
    width: 60px;
  }

  header .right-side .nav-link-wrapper a {
    font-size: 18px;
  }

  .card {
    padding: 3em 1em;
  }
}

@media (min-width: 1140px) {
  header .left-side a img {
    width: 70px;
  }

  header .right-side .nav-link-wrapper a {
    font-size: 20px;
  }

  .card {
    padding: 5em 1em;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }

  .card {
    padding: 5em 1em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
